<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- TWのレジストリ -->
    <add key="TwReg64" value="HKEY_LOCAL_MACHINE\SOFTWARE\WOW6432Node\Nexon\TalesWeaver" />
    <add key="TwReg32" value="HKEY_LOCAL_MACHINE\SOFTWARE\Nexon\TalesWeaver" />
    <add key="TwRegInstKey" value="RootPath" />
    <!-- ボス沸き間隔(分) -->
    <add key="Boss.Golron.Interval" value="360" />
    <add key="Boss.Golmodaf.Interval" value="480" />
    <!-- チャットログ関係 -->
    <add key="Chat.Open" value="#ffffff" />
    <add key="Chat.Hint" value="#ff6464" />
    <add key="Chat.System" value="#ff64ff" />
    <add key="Chat.Team" value="#f7b73c" />
    <add key="Chat.Club" value="#94ddfa" />
    <add key="Chat.Notice1" value="#c8ffc8" />
    <add key="Chat.Notice2" value="#64ff80" />
    <add key="Chat.Shout" value="#c896c8" />
    <add key="Chat.Whisper" value="#64ff64" />
    <add key="Chat.GM" value="#c8ffff" />
    <!-- 棒読みちゃん関係 -->
    <add key="Bouyomi.filename" value="BouyomiChan.exe" />
    <!-- 設定ファイル保存先 -->
    <add key="setting.file" value="setting.json" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>